@{
    ViewBag.HeaderImage = "/img/contact.jfif";
}

<h2 class="info-section">Наши контакты</h2>
<div class="container-row">
    <div class="row-item">
        <img class="item-img" src="~/img/icon-email.png" alt="" />
        <h2>Email</h2>
        <p>TTiP@mail.ru</p>
        <p>DemidovFurniture@gmail.com</p>
    </div>
    <div class="row-item">
        <img class="item-img" src="~/img/icon-phone.png" alt="" />
        <h2>Телефон</h2>
        <p>+373 (779) 091-97</p>
        <p>+373 (22) 543-210</p>
    </div>
    <div class="row-item">
        <img class="item-img" src="~/img/icon-address.png" alt="" />
        <h2>Адрес</h2>
        <p>Тираспольский техникум информатики и права</p>
        <p>ул. Школьная, 15, Тирасполь</p>
    </div>
</div>

<div class="container-section">
    <h3 class="info-section">График работы</h3>
    <p class="text">Пн-Пт: 9:00 - 20:00</p>
    <p class="text">Сб-Вс: 10:00 - 18:00</p>
</div>