@{
    ViewBag.HeaderImage = "/img/got_omagaze.jpg";
}

<div class="container-section">
    <h2 class="info-section">О нашем магазине</h2>
    <p class="text">
        Добро пожаловать в мебельный магазин "Демидов" - место, где рождаются уютные и стильные интерьеры!
        Мы работаем на рынке более 15 лет, предлагая нашим клиентам только качественную и проверенную мебель.
    </p>
    <p class="text">
        Наша философия - создавать пространства, в которых хочется жить и творить. Мы тщательно отбираем
        каждую модель в наш ассортимент, уделяя внимание не только эстетике, но и функциональности,
        долговечности и экологичности материалов.
    </p>
    <p class="text">
        В нашем шоу-руме вы можете не только посмотреть мебель, но и получить бесплатную консультацию
        от наших дизайнеров. Мы поможем подобрать оптимальное решение для вашего пространства,
        учитывая бюджет и личные предпочтения.
    </p>
    <p class="text">
        Мы гордимся тем, что более 10 000 семей по всей стране выбрали нашу мебель для создания
        своего идеального дома. Присоединяйтесь и вы к нашему сообществу довольных клиентов!
    </p>
</div>