<div class="container-section">
    <h2 class="info-sections">Наши услуги</h2>
    <div class="card-container">
        <div class="arrow left">&#10094;</div>

        <div class="card-wrapper">
            <div class="card">
                <img src="./img/1.jfif" alt="Card 1">

                <h3>Индивидуальные туры на заказ</h3>
                <p>
                    Мы разработаем уникальный маршрут, полностью отвечающий вашим предпочтениям:
                    от планирования до сопровождения. Варианты могут включать гастрономические туры,
                    экскурсии по культурным достопримечательностям или активный отдых.
                </p>
            </div>
        </div>
        <h2 class="info-sections">Koнтaкты</h2> <div class="container-row">
            <div class="row-item">
                <img class="item-img" src="~/images/icon-email.png" alt="" />
                <h2>Email</h2>
                <p>
                    TTIiP@@mail.ru
                </p>
            </div>
            <div class="row-item">
                <img class="item-img" src="~/images/icon-phone.png" alt="" /> <h2>Телефон</h2>
                <p>
                    + (373) 777-77-777
                </p>
            </div>
            <div class="row-item">
                <img class="item-img" src="~/images/icon-address.png" alt="" />
                <h2>Aдpec</h2>
                <p>
                </p>
            </div>
        </div>

        <div class="arrow right">&#10095;</div>
    </div>
</div>