

<div class="container-section">
    <h2 class="info-section">О нас</h2>
    <p>
        Добро пожаловать в наш магазин мебели!
    </p>
    <p>
        Мы создаём пространство, где комфорт, качество и стиль объединяются. В нашем ассортименте вы найдёте мебель для дома и офиса — от уютных диванов и кроватей до практичных шкафов и стильных столов.
    </p>
</div>

<div class="container-section">
    <h2 class="info-sections">Наши услуги</h2>
    <div class="card-container">
        <div class="arrow left">&#10094;</div>

        <div class="card-wrapper">
            <div class="card">
                <img src="./img/sofa.jfif" alt="Диваны">
                <h3>Мягкая мебель</h3>  
                <p>Диваны, кресла и пуфы — комфорт и элегантность для вашей гостиной.</p>
            </div>

            <div class="card">
                <img src="./img/table.jfif" alt="Столы и стулья">
                <h3>Столы и стулья</h3>
                <p>Классические и современные решения для кухни, гостиной или офиса.</p>
            </div>

            <div class="card">
                <img src="./img/wardrobe.jfif" alt="Шкафы">
                <h3>Шкафы и гардеробы</h3>
                <p>Функциональные системы хранения с раздвижными дверями и зеркалами.</p>
            </div>
            <div class="card">
                <img src="./img/bed.jfif" alt="Кровати">
                <h3>Кровати</h3>
                <p>Уютные и прочные кровати с ортопедическим основанием и мягким изголовьем.</p>
            </div>
            <div class="card">
                <img src="./img/kitchen.jfif" alt="Кухни">
                <h3>Кухонная мебель</h3>
                <p>Индивидуальные кухни под заказ — эргономика и стиль в каждом сантиметре.</p>
            </div>
            <div class="card">
                <img src="./img/office.jfif" alt="Офисная мебель">
                <h3>Офисная мебель</h3>
                <p>Рабочие столы, кресла и шкафы для продуктивной атмосферы на работе.</p>
            </div>

        <div class="arrow right">&#10095;</div>
      </div>
    </div>
</div>

<h2 class="info-section">Контакты</h2>
<div class="container-row">
    <div class="row-item">
        <img class=" item-img" src="./img/icon-email.png" alt="" />
        <h2>Email</h2>
        <p>
            TTiP@mail.ru
        </p>
    </div>
    <div class="row-item">
        <img class="item-img" src="./img/icon-phone.png" alt="" />
        <h2>Телефон</h2>
        <p>
            77909197
        </p>
    </div>
    <div class="row-item">
        <img class="item-img" src="./img/icon-address.png" alt="" />
        <h2>Адрес</h2>
        <p>
            Тираспольский техникум информатики и права
        </p>
    </div>
</div>