html {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

*,
::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


body {
    height: 10000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    align-items: center;
    display: inline-flex;
    font-size: 15px;
    font-weight: 600;
    line-height: 150%;
    color: #0c0e10;
}


.img-header {
    width: 850px;
    height: 350px;
    margin-top: 20px;
}

#header-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
    background-color: rgba(255, 165, 0, 0);
    display: flex;
    justify-content: space-between;
    padding: 25px 70px;
    transition: background-color 0.5s;
}

#header-bottom {
    position: sticky;
    top: 0;
    padding: 25px 0;
    width: 50%;
    z-index: 1000;
}


.button-header {
    display: flex;
    align-items: center;
}

    .button-header .button {
        border: 2px solid #370b0b;
        background-color: transparent;
        padding: 7px 14px;
        margin: 0 10px;
        border-radius: 3px;
        color: #370b0b;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        transition: all 250ms ease;
    }

        .button-header .button:hover {
            color: #fff;
            background-color: #370b0b;
        }

.menu {
    width: 100%;
    display: flex;
    justify-content: center;
}

    .menu li {
        display: inline;
        padding: 0 20px;
    }

    .menu a {
        font-size: 15px;
        font-weight: 600;
        line-height: 150%;
        color: #0c0e10;
        text-decoration: none;
    }

-menu a:hover {
    color: #000;
}

.container {
    width: 82%;
    border: 2px solid #cacaca;
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0, 4);
}
