
.card-container {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.card-wrapper {
    display: flex;
    transition: transform 0.3s ease;
}

.card {
    min-width: calc(33.33% - 20px);
    margin: 10px;
    background-color: rgba(255,165,3,1);
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
}

    .card img {
        width: 100%;
        height: 260px;
    }

    .card h3 {
        text-align: center;
        padding: 10px;
        font-size: 18px;
        background: #fff;
    }

    .card p {
        padding: 20px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 600
    }

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 50;
}

    .arrow.left {
        left: 0;
    }

    .arrow.right {
        right: 0;
    }

html {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* основные стили для боди */
body {
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Стили для лого*/
.logo {
    font-size: 15px;
    font-weight: 600;
    line-height: 150%;
    color: #0c0e10;
    transition: all 0.5s ease;
}
/*стиль изображения в шапке*/
.img-header {
    width: 80%;
    height: 350px;
    margin-top: 20px;
    margin-left: 20px;
}

#header-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
    background-color: orange;
    display: flex;
    justify-content: space-between; /* равномерное распределение */
    align-items: center; /* выравнивание по центру по вертикали */
    padding: 15px 70px; /* уменьшил padding для компактности */
    transition: background-color 0.3s ease;
}
/*стили для нижней шапки(меню)*/
#header-bottom {
    display: flex;
    justify-content: center;
    flex-grow: 1; /* занимает доступное пространство */
}




.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}


/*Стили для кнопок в шапке*/
.button-header {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}
    .button-header.hidden-button {
        opacity: 0;
        visibility: hidden;
        transform: translateX(20px);
    }
    .button-header.hidden-element {
        transform: translateX(20px);
    }
.menu.hidden-element {
    transform: translateY(-10px);
}
.logo.hidden-element {
    transform: translateX(-20px);
}
/* Стили для полного скрытия элементов */

.hidden-element {
    opacity: 0 !important;
    visibility: hidden !important;
    pointer-events: none !important; /* отключает кликабельность */
}


    .button-header .button {
        border: 2px solid #370b0b;
        background-color: transparent;
        padding: 7px 14px;
        margin: 0px 10px;
        border-radius: 3px;
        color: #370b0b;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        transition: all 250ms ease;
    }

        .button-header .button:hover {
            color: #fff;
            background-color: #370b0b;
        }
/*для внутренней нижний шапки */
.menu {
    width: 100%;
    display: flex;
    justify-content: center;
    transition: all 0.4s ease;
}

.menu li {
    
    padding: 0 20px;
}

    .menu a {
        font-size: 15px;
        font-weight: 600;
        line-height: 150%;
        color: #0c0e10;
        text-decoration: none;
        transition: color 0.3s ease;
    }

        .menu a:hover {
            color: #fff;
        }

.container {
    width: 82%;
    border: 2px solid #cacaca;
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}

.container-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin: 40px;
}

.info-section {
    margin-bottom: 20px;
    font-size: 40px;
    color: #370b0b;
}

.text {
    text-indent: 40px;
    margin: 5px;
    text-align: justify;
    font-size: 20px;
    color: #370b0b;
}

.container-row {
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 30px;
}

.row-item {
    width: 30%;
    background: #fff;
    margin: 25px 0px;
}

    .row-item h2 {
        font-weight: 400;
        font-size: 26px;
        margin: 8px 0;
    }

.item-img {
    width: 90px;
    opacity: 0.75;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    transition: all 250ms ease;
}

    .item-img:hover {
        background: rgba(255,165,3,1);
        margin: 5px;
        width: 100px;
    }


.block-message {
    display: grid;
    width: 80%;
}

.message-text {
    display: grid;
    padding: 10px;
    margin-top: 20px;
}

    .message-text .text {
        height: 150px;
        resize: none;
    }

.message-button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

    .message-button button {
        border: none;
        background-color: rgba(255, 165, 3, 1);
        padding: 15px 30px;
        border-radius: 3px;
        color: #370b0b;
        cursor: pointer;
        font-size: 18px;
        font-weight: 500;
        transition: all 250ms ease;
    }

        .message-button button:hover {
            color: #fff;
            background-color: #370b0b;
        }

/* Стили для футера */
footer {
    background-color: rgba(255, 165, 0, 1);
    width: 100%;
    padding-top: 60px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

    footer .footer-left {
        width: 40%;
        display: grid;
        gap: 20px;
    }

    footer .footer-right {
        width: 30%;
    }

    footer .footer-demidov {
        margin-bottom: 20px;
    }


/* Уменьшение ползунка */
::-webkit-scrollbar {
    width: 8px; /* ширина всего ползунка */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* цвет дорожки */
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 165, 0, 0.7); /* цвет ползунка */
    border-radius: 4px; /* закругление */
}

    ::-webkit-scrollbar-thumb:hover {
        background: rgba(255, 165, 0, 1); /* цвет при наведении */
    }